div.container {
	max-width: 800px;
}

#form-steps {
	min-height: 300px;
	display: none;
}

.form-step {
	display: none;
}

.hidden {
	display: none;
}

div.row .half  {
    float: left !important;
    width: 50%;
}

#results {
	display: none;
}

#results table {
	cursor: pointer;
}

#results table tr:nth-child(even) {
	display: none;
	background-color: #FAFAFA;
}

#form-nav {
	display: none;
}